.andriod{
    background-color:white;
    width: 100%;
    }

#andriod1 {
    color: blue;
    width: 100%;
    
}
.andriod h1{
    font-weight: bold;
}
.andriod2{
    color: blue;
    
}
.andriod2 li{
    color: black;
    font-weight: bold;
}