.link5{
    margin-top: -50px;
    width: 100%;
}
.link p{
    color:white;
    font-weight: bold;
}
.link2 a{
   
    font-weight: bold;
}
.link2 p{
    color: white;
}
.link3 p{
    color: white;
    font-weight: bold;
}
.text-uppercase{
    color:red;
    margin-top: 40px;
}
.link4{
    color: white;
}